# Backend

BACKEND_DEBUG=True
BACKEND_PORT=5005
BACKEND_DEFAULT_HOURLY_RATE=1.00

# Celery

CELERY_BROKER_URL=redis://redis:6379

# Database

DATABASE_ENGINE=postgresql_psycopg2
DATABASE_NAME=admanager
DATABASE_USERNAME=admanager
DATABASE_PASSWORD=admanager
DATABASE_HOST=database
DATABASE_PORT=5432